<span class="field-label">
    {{ label }}
    <span class="field-help" data-help-for="{{ field }}" tabindex="0" aria-label="Examples: {{ example_1 }}; {{ example_2 }}. {{ meaning }}">
        <span aria-hidden="true">?</span>
        <span class="field-tooltip" role="tooltip">
            <span class="field-tooltip-examples">
                <span class="field-tooltip-example-label">E.g.</span>
                <code>{{ example_1 }}</code>
                <code>{{ example_2 }}</code>
            </span>
            <hr>
            <span>{{ meaning }}</span>
        </span>
    </span>
</span>
